* {
  background-color: lightgray;
}

input {
  background-color: white;
  border-radius: 5px;
  padding: .3em;
}

button {
  background-color: red;
}

li, h2 {
  font-size: 1.5em;
}

#submitButton {
  background-color: lightgray;
  padding: .5em;
}

.readyButton,
#playAgain {
  font-size: 1.2em;
  border-radius: 15px;
  padding: 1em;
}

.readyButton h3, {
  text-align: center;
}

.readyButton,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#finalButton {
  padding: 1.2em;
}
